@media only screen and (min-width: 740px) and (max-width: 1024px) {

  /* đặt CSS tương ứng với thiết bị tablet ở đây */
  .search {
    position: relative;
  }

  .close-search-input {
    display: none;
  }

  .close-search-input.active {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 150%;
    right: 20px;
    z-index: 10;
    padding: 10px 0;
    background-color: rgb(195, 195, 195, 0.5);
    border-radius: 20px;
  }

  .close {
    color: #fff;
  }

  .close.active {
    display: flex;
    justify-content: center;
    padding-right: 5px;
  }

  .search-icon {
    font-size: 25px;
  }

  .box-left {
    font-size: 35px;
  }

  .box-right {
    font-size: 35px;
  }
  .nav-container .item:nth-child(3):hover .sub-nav {
    display: none;
    padding: 0;                    
  }
  .sub-nav {
    display: none;
  }
  .sub-nav.active {
    position: absolute;
    top: 50px;
    display: block !important;
  }
  .item {
    position: relative;
    display: flex;
  }
  .show-more-sub-nav {
    padding-left: 10px;
  }
  .close-nav-container {
    display: none;
  }
  .content-slider {
    font-size: 20px;
  }
  /* product  */
  .name-product {
    font-size: 12px;
  }
  .prize-product {
    font-size: 11px;
  }
  .title-product {
    font-size: 15px;
  }
  .item-product {
    flex-basis: 30%;
  }
  .list-page {
    display: flex;
    padding: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .list-page a {
    margin: 0 5px;
    font-size: 15px;
  }
  /* hot product */
  .name-hot-product {
    font-size: 12px;
  }
  .prize-hot-product {
    font-size: 11px;
  }
  .title-hot-product {
    font-size: 15px;
  }
  .item-hot-product {
    flex-basis: 30%;
  }
  .info-cus H3 {
    font-size: 15px;
    padding: 0 10px;
  }

  /* ============footer============== */
  .footer-container1 , .footer-container2 
  {
    display: flex;
    padding: 10px 20px;
  }
  .footer-item i {
    font-size: 20px;
  }
  .footer-item a {
    font-size: 10px;
  }
  .title-ft {
    font-size: 15px;
  }
}
/* responsive cho mobile  */
@media only screen and (max-width: 739px) {
  #header {}

  .logo img {}


  .close-search-input {
    display: none;
  }
  .close-search-input.active {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 85px;
    right: 35px;
    z-index: 15;
    padding: 10px 0;
    background-color: rgb(195, 195, 195);
    border-radius: 20px;
  }
  .close.active {
    display: flex;
    justify-content: center;
    padding-right: 5px;
  }
  .search-icon {
    font-size: 23px;
  }

  .nav {
    position: relative;
  }
  .nav-container {
    position: fixed;
    display: none;
    right: -100%;
    padding: 100px 0;
    top: 0px;
    z-index: 10;
    height: 100%;
    width: 50%;
    background-color: rgb(195, 195, 195);
    transition: 1.5s linear;

  }
  .nav-container.active {
    display: block;
    right: 0;
   
  }
  .close-nav-container {
    z-index: 15;
    text-align: center;
    font-size: 30px;
    z-index: 30;
    padding: 20px 0;
    color: #000;
  }
  .item {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  .nav-container.active {
    display: block;
  }
  .close-nav-container.active {
    display: block;
    z-index: 20;

  }
  .sub-nav {
    display: block;
    position: static;
    background-color: rgb(195, 195, 195);
  }

  .show-more-sub-nav {
    display: none;
  }

  .bar {
    display: block;
    position: relative;
    right: -20px;
    font-size: 25px;
  }

  .content-slider {
    font-size: 10px;

  }

  .box-left {
    font-size: 25px;
  }

  .box-right {
    font-size: 25px;
  }
  .content-slider h2 ,h4 {
    font-size: 15px;
  }
    /* product  */
    .item-product {
      flex-basis: 30%;
    }
    .title-product {
      font-size: 15px;
    }
    .name-product {
      font-size: 12px;
    }
    .prize-product {
      display: block;
      font-size: 10px;
    }
    .prize {
      text-align: center;
    
    }
    .prize-sale {
      text-align: center;
      padding-right: 0px;
    }
    .list-page a {
      margin: 0 1px;
      font-size: 10px;
    }
    /* hot product */
    .item-hot-product {
      flex-basis: 30%;
    }
    .title-hot-product {
      font-size: 15px;
    }
    .name-hot-product {
      font-size: 12px;
    }
    .prize-hot-product {
      display: block;
      font-size: 10px;
    }
    .prize-hot {
      text-align: center;
    
    }
    .prize-hot-sale {
      text-align: center;
      padding-right: 0px;
    }
    .contact-container {
      display: block;
    }
    .map {
      width: 100%;
      padding: 0 10px;
    }
    .info-cus H3 {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .red-word {
      font-size: 22px;
    }
      /* ============footer============== */
  .footer-container1 , .footer-container2 
  {
    display: flex;
    padding: 10px 20px;
  }
  .footer-item i {
    font-size: 15px;
  }
  .footer-item a {
    font-size: 10px;
  }
  .title-ft {
    font-size: 10px;
  }
}
