/*Reset CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.5s;
}

/* #main {
   /*Kích thước màn hình là 1280 x 720 */
/* width: 100%;
  height: 100vh;
}   */

/*-------------------------------------------------*/
/*Begin Header */
#header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/*Begin Logo */
.logo {
  display: flex;
  justify-content: center;
  /* width: 20%; */
}

.logo img {
  width: 80%;
  transform: translateX(2.5)
}

/*End Logo */
/*Begin Nav */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* width: 60%; */
}

.close-nav-container {
  display: none;
}

.nav-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container :hover {
  padding: 0 10px;
  border-radius: 10px;
  background-color: #f5f5f0;
}



.show-more-sub-nav {
  display: inline-block;
}

.sub-nav {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f5f5f0;
  z-index: 10;
}
.item:hover .sub-nav {
  display: block;
  padding: 0;
}
.sub-nav li {
  list-style-type: none;
  text-align: center;
}

.sub-nav :hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.close-subnav {
  display: none;
}

.item {
  position: relative;
  margin: 0 10px;
}

.item i {
  font-size: 10px;
}

.item a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.bar {
  display: none;
}

/*End Nav */
/*Begin Search */
::placeholder {
  /* Đổi màu chữ bên trong ô input*/
  color: #000;
}

input {
  border: 2px solid #000;
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: center;
  /* width: 20%; */
}

.search-input {
  margin: 0 10px;
  height: 30px;
}

.search-icon {
  padding: 0 20px 0 0;
  color: #000;
  font-size: 30px;
  transition: 0.015s;
}

.search-icon:hover {
  color: #878785;
}

.close-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  display: none;
  font-size: 20px;
  align-items: center;
}

/*End Search */
/*--------------------------------------------------------------*/
/*Begin Slider */
#slider {
  position: relative;
}

.content-slider {
  position: absolute;
  text-align: center;
  z-index: 5;
  top: 20px;
  right: 50%;
  transform: translateX(55%);
  font-size: 30px;
  color: #f5f5f0;
}

/* Begin Product =========================== */
#product {


  padding: 20px 20px;

}

.title-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #878785;
  font-size: 30px;
  border-radius: 20px;
}

.title-product a {
  text-decoration: none;
  color: #fff;

}

.list-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-product {
  text-align: center;
  margin: 10px 10px;
  padding: 10px 0;
  border-radius: 20px;
  border: 1px solid #878785;
  flex-basis: 20%;
}

.item-product:hover {
  background-color: #ebebeb;
  transform: scale(1.1);
}

.img-product img {
  width: 100%;
  border-radius: 20px;

}

.prize-product {
  display: flex;
  justify-content: center;
}

.prize-sale {
  padding-right: 10px;
}

.prize {
  color: red;
  text-decoration: line-through;
}
.list-page {
  display: flex ;
  justify-content: center;
  padding-top: 20px;

}
.list-page a {
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;  
  border-radius: 10px;
  border: 1px solid #878785;
  color: #000;
}
.list-page a:hover {
  background-color:#bcbcbc;
}
/* ===================Hot Product===================== */
#hot {


  padding: 20px 20px;

}

.title-hot-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bc2e2e;
  font-size: 30px;
  border-radius: 20px;
}

.title-hot-product a {
  text-decoration: none;
  color: #fff;

}

.list-hot-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-hot-product {
  text-align: center;
  margin: 10px 10px;
  padding: 10px 0;
  border-radius: 20px;
  border: 1px solid #878785;
  flex-basis: 20%;
}

.item-hot-product:hover {
  background-color: #ebebeb;
  transform: scale(1.1);
}

.img-hot-product img {
  width: 100%;
  border-radius: 20px;

}

.prize-hot-product {
  display: flex;
  justify-content: center;
}

.prize-hot-product {
  padding-right: 10px;
}

.prize-hot {
  color: red;
  text-decoration: line-through;
}
/* ================================== */
/* Contact */
#contact {
  background-color: #504f4f;
  padding-bottom: 50px;
  border-radius: 20px;
}
.title-contact {
  padding: 10px;
  color: #fff;
}
.contact-container {
  display: flex ;
}
.info-cus {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px ;
  border-radius: 20px;
  border: 1px solid #fff;

}

.info-cus > H3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.lb {
  margin-right: 10px;
  color: #fff;
}
.btt-submit {
  margin-top: 20px;
  padding: 0 40px;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #bc2e2e;
  background-color: #bc2e2e;
}
.btt-submit:hover {
  background-color: #dca1a1;
  color: #454444;
}
.map {
  width: 100%;
}
/* Footer  */
#footer {
  background-color: #bcbcbc;
  border-radius: 20px;
}
.footer-container1 ,.footer-container2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  flex-wrap: wrap;
}
.footer-item {
  /* flex-wrap: 30%; */
}
.footer-item a:hover {
  color: #504f4f;
}
.title-ft {
  font-size: 18px;
}
.footer-item a{
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-item i {
  font-size: 40px;
  padding: 0 10px;
  color: #000;
}
.footer-item i:hover {
  color: #504f4f;
}
.icon-ft {
  display: flex;
  
}
/* ========================gioithieu=================== */
.title-gioithieu {
  background-color: #bc2e2e;
  text-align: center;
}
.title-gioithieu a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}
.my-info {
  text-align: center;
  border: 1px solid #bc2e2e;
  border-radius: 20px;
}
.gioithieu {
  text-align: center;
  padding: 20px 20px;
}
.red-word {
  color: #bc2e2e;
}
/* =================roll to top ================== */
.roll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}

.roll-to-top-btn:hover {
  background-color: #666;
}



